<h1>Olá!</h1>

<%= link_to 'Usuários', users_path %><br>
<%= link_to 'Livros', books_path %><br>
<%= link_to 'Autor', authors_path %><br>
<%= link_to 'Editoras', publishers_path %><br>
<%= link_to 'Pedidos', orders_path %>
